.container{
    width: 100%;
    height: 100vh;
    padding: 35px 10px;
    background-color: rgba(211, 211, 211, 0.3);
}
.container h3{
  margin: 60px 0 10px 0;
}
.container p{
  margin: 0 0 10px 10px;
}
.container button{
  background-color: orange;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin: 60px 0 10px 0;
  border: 0;
  color: white;

}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


table{
    width: 100%;
    text-align: left;
    margin-left: 0 20px 0 10px;
    border-top: 1px solid black;
    background-color: #fff;
    
}
tr, td{
  padding: 5px 0;
  border-top: 1px solid black;
  margin: 0;
}
thead{
  color: grey;
  background-color: rgba(211, 211, 211, 0.61);
}
thead th{
  padding: 10px;
}
tbody, tfoot{
  background-color: #fff;
}
tbody{
  height: 100px;
  overflow: auto;
  width: 100%;
}
tbody td{
  padding: 5px 10px;
}
tfoot td{
  padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: orange;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px orange;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  .slider.round {
    border-radius: 12px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .sidesearch button{
    color: grey;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0 ;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .flex-row input{
    border: 0;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 30px;
    min-width: 200px;
  }

.btns{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.btns button{
    display: block;
    padding: 10px 30px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    border-bottom: 1px solid black;
    color: grey;
    background-color: rgba(211, 211, 211, 0);
}
.btns button:active{
    border-bottom: 2px solid orange;
}
.btns button:focus{
    border-bottom: 3px solid orange;
    color: black;
}
#btn-approved{
    padding: 0;
    margin: 0 5px 0 0;
    width: 80px;
    height: 30px;
    background-color: rgba(255, 166, 0, 0.3);
    color: orange; 
}
#btn-reject{
    padding: 0;
    margin: 0 0 0 10px;
    width: 80px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.3);
    color: red; 
}